html {
    font-size: 62.5%;
}

body {
    margin: 0;
}

body::selection{
    background: #C9F0DD;
}

.top-bar {
    background-color: #0C4B33;
    color: #fff;
    width: 100%;
    font-weight: bold;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0 6px;
}

.top-bar .logo {
    margin-right: 10px;
}

.logo {
    margin-left: 10%;
    font-size: 4rem;
    /* word-break: normal;
    word-wrap: normal;
    overflow-wrap: normal; */
    float: left;
    font-family: "MyLogoFont", "Roboto", "Corbel", "Avenir", "Lucida Grande", "Lucida Sans", sans-serif;
}

.top-bar .desc {
    color: #44B78B;
    width: 10%;
    word-break: normal;
    word-wrap: normal;
    overflow-wrap: normal;
    font-size: 1.3rem;
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
}

.top-bar .navigation {
    margin-left: auto;
    margin-right: 10%;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
}

.top-bar ul {
    list-style: none;
    display: -webkit-inline-box;
}

.top-bar a {
    color: #fff;
}

.footer a {
    color: #fff;
}

.top-bar .navigation a:hover {
    color: #C9F0DD;
}

.top-bar .navigation li {
    margin-left: 10px;
    margin-right: 10px;
}

.footer {
    background-color: #0C4B33;
    color: #2B8C67;
}

.copyright {
    font-size: 1.2rem;
    margin-left: 10%;
}

.f-container {
    color: #fff;
    width: 100%;
    font-weight: bold;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: flex-start;
    align-items: center;
}

.main {
    color: #0C3C26;
}

.supcontainer{
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 4.16667%;
}

.container {
    width: 100%;
    border-bottom: #0C3C26 1px solid;
}

.container:last-of-type {
    border: none;
}

.review {
    font-size: 3.6rem;
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
    font-weight: 300;
    line-height: 1.3;
    word-break: normal;
    word-wrap: normal;
    overflow-wrap: normal;
    padding: 30px 20%;
    border-bottom: 1px solid #CFE3DC;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin: 1em auto .5em;
    color: #0C3C26;
}

.title {
    letter-spacing: -1px;
    line-height: 1.1;
    font-size: 3.2rem;
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
    font-weight: 400;
}

.text{
    font-family: 'Roboto', 'Lato', 'Archivo', 'Exo 2', 'Ubuntu',  sans-serif;
    font-size: 1.8rem;
    color: #0C3C26;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main ul{
    list-style: none;
    font-family: 'Roboto', 'Lato', 'Archivo', 'Exo 2', 'Ubuntu',  sans-serif;
    font-size: 1.8rem;
    color: #0C3C26;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tools {
    display: flex;
    flex-wrap: wrap;
}

.tool {
    width: 300px;
    height: 75px;
    border: 1px solid #0C3C26;;
    margin: 3px;
}

.tool a img {
    width: 300px;
    height: 75px;
}

a {
    text-decoration: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
